/TestWlanManager/bin
/DzTree.VideoRecoder/DzTree.VideoRecoder/bin
/DzTree.Wlan.UWP/DzTree.Wlan.UWP/bin
/TestWlanManager/obj
/DzTree.VideoRecoder/DzTree.VideoRecoder/obj
/DzTree.Wlan.UWP/DzTree.Wlan.UWP/obj
